/*
  Name: Winnie Tsai
  Date: April 21, 2021
  Section: CSE 154 AE Tal Wolman
  This is the css file that styles the looks and feel for my index.html,
  which is also called Melodious Meadow page.
  The entire page has cursive fonts, and both the header and footer have
  photos for their background.
  It styles the tab buttons, whether they are open (with class="active" added)
  or not.
  Any section that contains figures that contains audio has a certain background
  and border to distinguish them from other parts of the page.

  [photo source]
  Header photo: https://unsplash.com/photos/hbnH0ILjUZE
  footer photo: https://www.pexels.com/photo/music-notes-934067/
*/
body, button {
  font-family: 'Baloo 2', cursive;
}

body {
  background-color: ivory;
  margin: 0px;
}

header {
  background-image: url("photos/piano_hand_smaller.jpg");
  background-size: cover;
  height: 80vh;
  opacity: 90%;
}

header h1 {
  background-color: azure;
  opacity: 65%;
  margin-top: 0px;
  font-family: 'La Belle Aurore', cursive;
  padding-left: 10px;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main > section {
  margin-bottom: 15px;
}

main > section > section {
  background-color: floralwhite;
  border: 2px solid #ccc;
}

#tab-bar {
  overflow: hidden;
  border-bottom: 2px solid #ccc;
}

button {
  cursor: pointer;
  font-size: 18px;
}

#tab-bar button {
  background-color: inherit;
  float: left;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  transition: 0.5s;
  font-size: 24px;
}

#tab-bar button:hover {
  background-color: rgb(236, 232, 222);
}

section.choices {
  display: none;
}

#tab-bar button.active {
  background-color: rgb(219, 215, 204);
}

section.active, #selected {
  display: flex;
  flex-wrap: wrap;
}

#selected {
  margin-bottom: 10px;
}

section.active {
  border-top: none;
}

span {
  font-weight: bold;
}

footer {
  background-image: url("photos/piano_sheets.jpg");
  background-size: 100vw;
  height: 25vh;
}
